body {
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    background-color: #1A103D; /* на всякий случай */
	margin:0.1px;
	padding:0;
}