body {
    padding: 0px;
    background-position: left top;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    background-color: #1A103D;
    background-image: url('../images/background.png');
	margin:0.1px;
	padding:0;
    touch-action: manipulation; /*отключение двойного клика - увеличения на сенсорных устройствах*/
    /* width: 100vw;
    height: 100vh; */
}